@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(219, 62%, 86%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    background-color: white;
    width: 180px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
.container #image img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
.container #text-img h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
    padding: 5px;
    margin: 10px 0px;
    transition: color 0.5s;
}
.container #text-img h1:hover{
    color:#3685FF ;
}

.container #text-img p{
    font-family: 'Outfit', sans-serif;
    font-size: 0.7rem;
    color: gray;
    font-weight: 300;
    text-align: center;
    padding: 5px 10px;
}
footer{
    text-align: center;
    margin-top: 30px;
    font-family: 'Outfit', sans-serif;
    color: #292929;
    font-size: 1rem;
}
footer a{
    color: #2E86C1;
    text-decoration: none;
    transition: color 1s;
}
footer a:hover{
    color: #054f80;
}

@media only screen and (max-width : 850px){
    .container {
        width: 180px;
        padding: 10px;
    }
    .container #image img{
        width: 180px;
        height: 180px;
    }
    .container #text-img h1{
        font-size: 0.9rem;
        padding: 5px;
    }
    .container #text-img p{
        font-size: 0.7rem;
        padding: 10px 15px;
    }
    footer{
        font-size: 0.8rem;
        font-weight: 300;
    }
}
@media only screen and (max-width : 500px){
    .container {
        width: 12rem;
    }
    .container #image img{
        width: 12rem;
        height: 12rem;
    }
    .container #text-img h1{
        text-align: center;
        padding: 10px;
    }
    .container #text-img p{
        font-size: 0.8rem;
        padding: 5px 15px;
    }
    footer{
        font-size: 0.7rem;
        padding: 20px;
        font-weight: 200;
    }
}