@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

/* This is the styles for header and navigation menu */
header {
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header #img-logo {
    width: 150px;
    height: 40px;
}
header .navigation-links ul {
    list-style: none;
}
header .navigation-links ul li {
    display: inline-block;
    padding: 0px 10px;
}
header .navigation-links ul li a {
    text-decoration: none;
    color: hsl(238, 22%, 44%);
    font-size: 1.2rem;
}

@media only screen and (max-width : 600px) {
    header {
        padding: 30px;
    }
    header #img-logo {
        width: 120px;
        height: 35px;
    }
    header .navigation-links ul li {
        padding: 0px 5px;
    }
    header .navigation-links ul li a {
        font-size: 1rem;
    }
}

/* This block styles the the brand container */
.main-container .brand-container {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 0px;
    margin: 10px 50px;
}
.main-container .brand-container .brand-text h1{
    font-size: 2.2rem;
    line-height: 3rem;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway';
    font-weight: 700;
}
.main-container .brand-container .brand-text p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 20px 0px;
    color: hsl(243, 87%, 12%);
}
.main-container .brand-container .brand-text input{
    padding: 8px 15px;
    width: 220px;
    border: 1px solid hsl(238, 22%, 44%);
    font-size: 0.8rem;
}
.main-container .brand-container .brand-text button{
    padding: 8px 15px;
    width: 160px;
    margin: 0px 10px;
    background-color: hsl(224, 93%, 58%);
    border: none;
    color: hsl(0, 0%, 95%);
    font-size: 0.9rem;
    font-weight: 400;
    transition: 0.3s all ease-in-out;
}
.main-container .brand-container .brand-text button:hover{
    background: hsl(224, 87%, 68%);
    cursor: pointer;
}
.main-container .brand-container .brand-img img{
    width: 600px;
    height: 400px;
}

@media only screen and (max-width : 600px) {
    .main-container .brand-container {
        flex-direction: column-reverse;
        text-align: center;
        margin: 10px 30px;
    }
    .main-container .brand-container .brand-text h1{
        font-size: 1.7rem;
        line-height: 2rem;
    }
    .main-container .brand-container .brand-text p{
        font-size: 1.1rem;
    }
    .main-container .brand-container .brand-text input{
        padding: 12px 18px;
        border-radius: 3px;
        width: 80%;
        margin: 10px auto;
    }
    .main-container .brand-container .brand-text button{
        padding: 12px 18px;
        width: 91%;
        margin: 0px auto;
        border-radius: 3px;
    }
    .main-container .brand-container .brand-img img{
        width: 370px;
        height: 260px;
    }
}

/* This is the styles for the second branding section */

.second-brand {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    margin-top: 100px;
    background: url(images/bg-curve-desktop.svg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 150px 50px 80px;
}
.second-brand .text-second-brand h2 {
    font-size: 2rem;
    line-height: 3rem;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway';
    font-weight: 700;
}
.second-brand .text-second-brand p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 20px 0px;
    color: hsl(243, 87%, 12%);
}
.second-brand .text-second-brand .link-more {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid hsl(170, 45%, 43%);
    width: 200px;
}
.second-brand .text-second-brand .link-more a{
    color: hsl(170, 45%, 43%);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-decoration: none;
}
.second-brand .text-second-brand .link-more img{
    width: 20px;
    height: 20px;
}
.quote {
    background: white;
    width: 300px;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(205, 205, 205);
}
.quote #paragraph{
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 20px 0px;
    color: hsl(243, 87%, 12%);
}
.quote .profile-quote{
    display: flex;
    align-items: center;
    gap: 20px;
}
.quote .profile-quote img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.quote .profile-quote h3{
    font-size: 0.9rem;
    color: hsl(243, 87%, 12%);
    font-weight: 700;
}
.quote .profile-quote #profile-par{
    font-size: 0.8rem;
    color: hsl(243, 87%, 12%);
    margin: 0px;
}
.second-brand .second-brand-img img{
    width: 550px;
    height: 400px;
}

@media only screen and (max-width : 600px){
    .second-brand {
        flex-direction: column-reverse;
        padding: 150px 30px 80px;
        text-align: center;
    }
    .second-brand .text-second-brand h2 {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .second-brand .text-second-brand p {
        font-size: 0.9rem;
        text-align: justify;
        line-height: 1.2rem;
        color: hsl(244, 33%, 20%);
    }
    .second-brand .text-second-brand .link-more {
        margin: 0px auto 30px;
        padding-bottom: 3px;
        border-bottom: 1px solid hsl(170, 45%, 43%);
        width: 135px;
    }
    .second-brand .text-second-brand .link-more a{
        font-size: 0.6rem;
        line-height: 0.8rem;
        letter-spacing: 1px;
    }
    .second-brand .text-second-brand .link-more img{
        width: 15px;
        height: 15px;
    }
    .quote {
        width: 250px;
        margin: 0px auto;
        padding: 10px 20px;
    }
    .quote #quote-img {
        float: left;
    }
    .quote #paragraph{
        font-size: 0.6rem;
        line-height: 1rem;
        margin: 10px 0px;
        color: hsl(242, 36%, 14%);
    }
    .quote .profile-quote{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .quote .profile-quote img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
    .quote .profile-quote h3{
        font-size: 0.6rem;
        text-align: left;
    }
    .quote .profile-quote #profile-par{
        font-size: 0.5rem;
        color: hsl(243, 87%, 12%);
        margin: 0px;
    }
    .second-brand .second-brand-img img{
        width: 370px;
        height: 260px;
    }
}

/* This section styles the email section */
.email-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background:hsl(238, 22%, 44%);
    padding: 50px 60px;
}
.email-section .email-text {
    color: rgb(236, 236, 236);
    flex-grow: 1;
    /* flex-shrink: 2; */
}
.email-section .email-text h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.9rem;
    margin: 12px 0px;
    letter-spacing: 2px;
}
.email-section .email-text p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 20px 0px;
    justify-content: start;
}
.email-section .form-email {
    flex-grow: 1;
    /* flex-shrink: 1; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.email-section .form-email input{
    padding: 12px 18px;
    width: 320px;
    border: 1px solid hsl(238, 22%, 44%);
    font-size: 0.8rem;
}
.email-section .form-email button{
    padding: 12px 18px;
    width: 200px;
    background-color: hsl(224, 93%, 58%);
    border: none;
    color: hsl(0, 0%, 95%);
    font-size: 0.9rem;
    font-weight: 400;
    transition: 0.3s all ease-in-out;
}
.email-section .form-email button:hover{
    background: hsl(224, 87%, 68%);
    cursor: pointer;
    border: none;
}
@media only screen and (max-width : 600px) {
    .email-section {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 50px 30px;
    }
    .email-section .email-text h2 {
        font-size: 1.6rem;
        text-align: center;
        margin: 12px 0px;
        letter-spacing: 1px;
    }
    .email-section .email-text p {
        font-size: 0.8rem;
        line-height: 1.3rem;
        text-align: center;
    }
    .email-section .form-email input{
        padding: 12px 18px;
        width: 250px;
        border-radius: 3px;
    }
    .email-section .form-email button{
        padding: 12px 18px;
        width: 287px;
        border-radius: 3px;
    }
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 100px 80px;
    background: hsl(243, 87%, 12%);
    color: white;
}
.main-footer .logo-footer-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.main-footer .logo-footer-section #img-footer-logo{
    width: 200px;
    height: 70px;
}
.main-footer .logo-footer-section .phone-link{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.9rem;
}
.main-footer .logo-footer-section .phone-link h3 a{
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}
.main-footer .logo-footer-section .email-link{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.9rem;
}
.main-footer .logo-footer-section .email-link a{
    text-decoration: none;
    color: white;
}
.main-footer .nav-footer ul{
    list-style: none;
}
.main-footer .nav-footer ul li{
    padding: 5px 0px;
    font-size: 0.8rem;
}
.main-footer .nav-footer2 ul{
    list-style: none;
}
.main-footer .nav-footer2 ul li{
    padding: 5px 0px;
    font-size: 0.8rem;
}
.main-footer .link-social i {
    padding: 6px;
    margin: 0px 5px;
    border: 1px solid white;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
}
.main-footer .link-social i:hover {
    color: hsl(224, 87%, 68%);
    border: 1px solid hsl(224, 87%, 68%);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .main-footer {
        flex-direction: column;
        gap: 30px;
        padding: 40px 30px;
        align-items: flex-start;
        justify-content: left;
    }
    .main-footer .logo-footer-section #img-footer-logo{
        width: 160px;
        height: 60px;
        margin: 10px 0;
    }
    .main-footer .logo-footer-section .phone-link h3 a{
        font-size: 1rem;
    }
    .main-footer .logo-footer-section .email-link{
        font-size: 1rem;
    }
    .main-footer .logo-footer-section .email-link a{
        text-decoration: none;
        color: white;
    }
    .main-footer .nav-footer ul li{
        padding: 10px 0px;
        font-size: 1rem;
    }
    .main-footer .nav-footer2 ul li{
        padding: 10px 0px;
        font-size: 1rem;
    }
    .main-footer .link-social {
        margin: 10px auto;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }